.button {
  min-width: 126px;
  height: 48px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.button.primary {
  color: var(--Light-blue);
  background-color: var(--Marine-blue);
}
.button.primary:hover {
  background-color: #144C87;
}

.button.secondary {
  color: var(--Cool-gray);
  background-color: white;
}
.button.secondary:hover {
  background-color: var(--Alabaster);
}

.button.tertiary {
  color: var(--Light-blue);
  background-color: var(--Purplish-blue);
}
.button.tertiary:hover {
  background-color: #938CFE;
}

