.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.divider {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  background-image: url("../../../public/assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  width: 100%;
  height: 170px;
}

.content-bg { 
  flex: 1;
  position: relative;
}

.content {
  background-color: white;
  position: absolute;
  width: 340px;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  padding: 34px 24px;
}

.buttons {
  background-color: greenyellow;
  height: 70px;
}


@media only screen and (min-width: 600px) {
  .layout {
    width: 900px;
    height: 600px;
    display: flex;
  }

  .divider {
    flex-direction: row;
  }

  .nav {
    width: 260px;
    height: 100%;
    background-image: url("../../../public/assets/images/bg-sidebar-desktop.svg");
  }

  .content-bg {
    position: initial;
    flex: 1;
  }

  .content {
    position: inherit;
    width: 100%;
    height: 100%;
    transform: none;
    top: -76px;
  }
}
