.layout {
  height: 100%;
  display: grid;
  grid-template-rows: 170px 1fr 70px;
}

.nav {
  background-image: url("../../../public/assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
}

.content-bg { 
  flex: 1;
  position: relative;
}

.content {
  background-color: white;
  position: absolute;
  width: 340px;
  left: 50%;
  transform: translateX(-50%);
  top: -70px;
  padding: 34px 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  top: -76px;
}

.buttons {
  background-color: greenyellow;
}


@media only screen and (min-width: 600px) {
  .layout {
    width: 946px;
    height: 604px;
    padding: 16px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    grid-template-areas:
    "nav content"
    "nav actions";
    grid-template-columns: 260px 1fr;
    grid-template-rows: 1fr 70px;

  }

  .nav {
    grid-area: nav;
    background-image: url("../../../public/assets/images/bg-sidebar-desktop.svg");
  }

  .content-bg {
    grid-area: content;
    position: initial;
    flex: 1;
  }

  .content {
    position: inherit;
    width: 100%;
    height: 100%;
    transform: none;
    box-shadow: none;
    border-radius: 0%;
    padding: 42px 92px;
  }

  .buttons {
    grid-area: actions;
  }
}
